* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: rgb(17, 66, 98);
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* webpage padding */
.padding {
  padding-left: 30px;
  padding-right: 30px;
}

/*?--------------------------------------------------------------?*\
......................... MOBILE VERSION .........................
/*?--------------------------------------------------------------?*/

.boxes {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  place-content: center;
  place-items: center;
}

.box {
  display: grid;
  width: min-content;
  background-color: #252525;
  padding: 0.5em 1.2em;
  margin: 0.5em 0;
  font-family: "Exo";
  font-size: 2em;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.box:hover {
  transform: scale(1.05);
  background-color: rgb(51, 127, 177);
  color: #fff;
}

.box2 {
  display: grid;
  width: min-content;
  background-color: #252525;
  padding: 0.5em 1.2em;
  margin: 0.5em 0;
  font-family: "Exo";
  font-size: 2em;
  transition: all 0.3s ease;
}

.box2:hover {
  background-color: inherit;
  color: #fff;
  outline: 3px solid rgb(51, 127, 177);
  padding: 0.5em 1.6em;
  border-radius: 5px;
}
