* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  place-content: center;
}

.box {
  display: grid;
  padding: 0.5em;
  width: min-content;
  background-color: aquamarine;
}
