@import "./variables";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*?--------------------------------------------------------------?*\
.......................... BASIC STYLING ..........................
/*?--------------------------------------------------------------?*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  background: $background;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#topBtn {
  position: fixed;
  bottom: -50px;
  right: 20px;
  padding: 13px 15px;
  background-color: $clr-accent;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  z-index: 99;
  transition: all 0.4s ease;
}

.test {
  min-height: 100vh;
  background-color: #151515;

  h1 {
    font-size: 2rem;
  }
}

/*?--------------------------------------------------------------?*\
......................... MOBILE VERSION .........................
/*?--------------------------------------------------------------?*/

/**========== NAVBAR STYLING START ===========**/

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  min-width: $min-width;
  width: 100%;
  margin-top: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .nav-logo {
    position: relative;
    display: block;
    width: auto;
    height: 45px;
    z-index: 1;
  }
}

.nav-menu-wrapper {
  position: fixed;
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  background: $filter, $background;
  background-blend-mode: soft-light;
  opacity: 0;
  transition: all 0.3s linear;

  .social-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 60px;

    .nav-item {
      margin: 0 1rem;

      .social-icon {
        color: $clr-accent;
        font-size: 40px;
      }
    }
  }

  .nav-item {
    margin: 6rem 0;
    font-weight: map-get($font-weight, fs-bold);

    &.hire-btn {
      margin-block: 6rem 3rem;
    }

    &.theme-toggle {
      display: grid;
      justify-content: center;
      margin-block: 3rem 6rem;
    }

    .nav-link {
      font-size: 4rem;
      color: $clr-dark;
      -webkit-text-stroke: 0.2px $clr-light;
    }

    .nav-cta-btn {
      font-size: 2.6rem;
      background-color: $clr-accent;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
    }

    .checkbox {
      opacity: 0;
      position: absolute;
    }

    .label {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30px;
      height: 30px;
      padding: 10px;
      background-color: transparent;
      box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.8);
      border-radius: 50px;
      cursor: pointer;

      .fa-adjust {
        color: $clr-dark;
        transform: rotate(0deg) scale(1.6);
        transition: transform 0.5s linear, color 0.2s ease;
      }
    }
  }
}

.navbar.active .nav-menu-wrapper {
  right: 0;
  opacity: 1;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1;

  .bar {
    display: block;
    width: 35px;
    height: 5px;
    margin: 6px auto;
    border-radius: 50px;
    background-color: $clr-primary;
    transform-origin: 0 0;
    transition: 0.4s ease;

    &:nth-child(2) {
      background-color: $clr-secondary;
    }
  }
}

.navbar.active .hamburger span:nth-child(1) {
  transform: translate(7px, 0px) rotate(45deg);
  background-color: $clr-secondary;
  outline: none;
}

.navbar.active .hamburger span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.navbar.active .hamburger span:nth-child(3) {
  transform: translate(3px, 3px) rotate(-45deg);
  background-color: $clr-secondary;
  outline: none;
}
/*!=========== NAVBAR STYLING END ============!*/

/**========== HEADER STYLING START ===========**/

.header {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: $min-width;
  width: 100%;
  height: 100vh;

  .header-container {
    position: relative;
    display: grid;
    place-items: center;
    align-content: end;
    width: 100%;
    height: 100%;
    padding-block: 20vmin 6vmin;

    .header-top {
      text-align: center;
      margin-bottom: 8vmin;

      .header-greeding {
        font-size: clamp(2.2rem, 4vw, 3rem);
        font-weight: map-get($font-weight, fs-regular);
        color: $clr-title;
        margin-bottom: 10px;
        transition: color 0.4s ease;
      }

      .header-title {
        position: relative;
        font-size: clamp(3.2rem, 9vw, 14rem);
        font-weight: map-get($font-weight, fs-black);
        color: $clr-title;
        z-index: 1;
        transition: color 0.4s ease;
      }

      .ht-bottom {
        position: relative;
        color: transparent;
        -webkit-text-stroke: 2px $clr-title;
        letter-spacing: 1.2px;
        z-index: 0;
        transition: -webkit-text-stroke 0.4s ease;
      }
    }

    .header-btm {
      position: relative;
      display: grid;
      place-items: center;

      .header-profile-image {
        position: relative;
        max-width: 370px;
        width: 100%;
        height: auto;
        bottom: -3vmin;
        mix-blend-mode: luminosity;
        order: 4;
        transition: 1s ease-out;
      }

      .header-btns {
        position: relative;
        display: grid;
        justify-items: center;
        column-gap: 25px;
        order: 3;
      }

      .header-cta-btn {
        width: fit-content;
        font-size: 1.8rem;
        font-weight: map-get($font-weight, fs-regular);
        background-color: $clr-accent;
        color: #fff;
        margin: 0.5rem 0;
        padding: 12px 20px;
        border-radius: 5px;
        transition: 0.3s ease;

        &:nth-child(2) {
          background-color: #fff;
          color: $clr-dark;
        }
      }
    }
  }

  .header-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $filter;
    mix-blend-mode: soft-light;
    isolation: isolate;
    z-index: -2;
  }
}

/*!=========== HEADER STYLING END ============!*/

/**========== DEVELOP STYLING START ==========**/

.develop {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: $min-width;
  width: 100%;
  height: 100%;
  padding-block: 13vmin;

  .develop-container {
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    max-width: $max-width;
    width: 100%;
    height: 100%;

    .dv-skill-title {
      font-size: clamp(1.4rem, 4vw, 2rem);
      font-weight: map-get($font-weight, fs-regular);
      color: $clr-accent;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    .dv-title {
      font-size: clamp(3.6rem, 5vw, 8rem);
      font-weight: map-get($font-weight, fs-black);
      color: $clr-title;
      line-height: 110%;
      margin-bottom: 30px;
      transition: color 0.4s ease;
    }

    .dv-cta-btn {
      font-size: 1.8rem;
      font-weight: map-get($font-weight, fs-regular);
      background-color: $clr-accent;
      color: #fff;
      padding: 15px 20px;
      margin-bottom: $m-small;
      border-radius: 5px;
      transition: 0.3s ease;
    }

    .dv-projects-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
      place-items: center;
      width: 100%;
      height: auto;
      gap: 45px;

      .dv-project {
        position: relative;
        max-width: 450px;
        min-width: 310px;
        max-height: 600px;
        min-height: 460px;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        aspect-ratio: 0.8;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
        transition: box-shadow 0.4s ease;

        .project-mockup {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .mockup-position {
          object-position: 10%;
        }
      }
    }
  }
}

/*!=========== DEVELOP STYLING END ===========!*/

/**========= EXPERTISE STYLING START =========**/

.expertise {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: $min-width;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .expertise-container {
    position: relative;
    display: grid;
    place-content: center;
    max-width: $max-width;
    width: 100%;
    height: 100%;
    padding-block: 60px;
    column-gap: 60px;

    .expertise-title {
      font-size: clamp(3.6rem, 4vw, 8rem);
      font-weight: map-get($font-weight, fs-black);
      color: $clr-title;
      margin-bottom: 20px;
      transition: color 0.4s ease;
    }

    .expertise-text {
      max-width: 800px;
      font-size: clamp(2.2rem, 2vw, 3rem);
      font-weight: map-get($font-weight, fs-regular);
      letter-spacing: 1px;
      margin-bottom: $m-small;
      transition: color 0.4s ease;
    }

    .exp-cards {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
      justify-content: center;
      align-items: center;
      max-width: 840px;
      min-width: $min-width;
      gap: 45px;

      .exp-card {
        position: relative;
        display: grid;
        align-content: center;
        max-width: 395px;
        min-width: 310px;
        max-height: 370px;
        min-height: 322px;
        padding: 35px 35px 50px 35px;
        background-color: $clr-dark;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
        overflow: hidden;

        .card-title {
          font-size: clamp(3.4rem, 4vw, 4rem);
          font-weight: map-get($font-weight, fs-black);
          color: #fff;
          text-transform: uppercase;
          width: 100%;
          height: fit-content;

          &.title-stroked {
            color: transparent;
            -webkit-text-stroke: 2px $clr-accent;
            letter-spacing: 2px;
          }
        }

        .card-splitter {
          background-color: #fff;
          width: 100px;
          height: 4px;
          margin-block: 20px;
          border-radius: 50px;
          border: none;
        }

        .card-text {
          font-size: clamp(2.2rem, 4vw, 2rem);
          font-weight: map-get($font-weight, fs-regular);
          color: $clr-text;
        }
      }
    }

    .card-bg-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: luminosity;
      filter: blur(2px);
      opacity: 20%;
    }

    .code-text {
      object-position: -20% 40px;
    }

    .graphic-tools {
      object-fit: contain;
      object-position: 125% -15px;
      height: 105%;
    }
  }
  .expertise-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $filter;
    mix-blend-mode: soft-light;
    isolation: isolate;
    z-index: -1;
  }
}

/*!========== EXPERTISE STYLING END ==========!*/

/**========== DESIGN STYLING START ===========**/

.design {
  position: relative;
  display: grid;
  justify-content: center;
  min-width: $min-width;
  width: 100%;
  height: 100%;
  padding-block: 13vmin 20vmin;

  .design-container {
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;

    .design-top {
      max-width: 1440px;
      width: 100%;

      .design-skill-title {
        font-size: clamp(1.4rem, 4vw, 2rem);
        font-weight: map-get($font-weight, fs-regular);
        color: $clr-accent;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .design-title {
        max-width: 1000px;
        font-size: clamp(3.6rem, 5vw, 8rem);
        font-weight: map-get($font-weight, fs-black);
        color: $clr-title;
        line-height: 110%;
        margin-bottom: $m-small;
        transition: color 0.4s ease;

        .stroked {
          color: transparent;
          -webkit-text-stroke: 2px $clr-title;
          letter-spacing: 1.2px;
          transition: -webkit-text-stroke 0.4s ease;
        }
      }
    }

    .slider-wrapper {
      position: relative;
      display: grid;
      row-gap: 10px;

      .slider {
        position: relative;
        display: grid;
        place-items: center;
        width: 100%;
        height: auto;
        overflow-x: hidden;

        .slide {
          display: flex;
          place-items: center;
          width: 100%;
          height: auto;
          transition: 0.5s;
          cursor: pointer;

          .slide-item {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .slide-track {
          display: flex;
          width: calc(400px * 8);
          animation: scroll 25s linear infinite;
          column-gap: 10px;
          transition: 1s ease-out;

          @keyframes scroll {
            0% {
              transform: translateX(0px);
            }
            100% {
              transform: translateX(calc(-401px * 4));
            }
          }
        }

        /*  IMPORTANT CODE BELOW */

        .slide-track2 {
          display: flex;
          width: calc(400px * 8);
          animation: scroll2 20s linear infinite;
          column-gap: 10px;
          transition: 1s ease-out;

          @keyframes scroll2 {
            0% {
              transform: translateX(0px);
            }
            100% {
              transform: translateX(calc(-401px * 4));
            }
          }
        }
      }
    }
  }
}

/*!=========== DESIGN STYLING END ============!*/

/**========== FOOTER STYLING START ===========**/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .footer-container {
    position: relative;
    max-width: $max-width;
    width: 100%;
    height: 100%;
    padding-block: 60px 15px;

    .footer-top {
      position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      max-width: $max-width;
      width: 100%;
      height: 100%;
      margin-bottom: 60px;
      gap: 60px;

      .column-box {
        position: relative;
        display: grid;
        justify-items: center;
        text-align: center;
        width: 100%;
        height: fit-content;

        &.left-top {
          row-gap: 15px;
        }

        .footer-logo {
          max-width: 120px;
          width: 100%;
          height: auto;
          margin-bottom: 10px;
        }

        .contact-info {
          position: relative;
          display: grid;
          place-items: center;
          width: 100%;
          height: fit-content;

          .con-info-top {
            position: relative;

            .con-info-title {
              position: relative;
              font-size: 2.5rem;
              font-weight: map-get($font-weight, fs-bold);
              color: $clr-title;
              transition: color 0.4s ease;
            }

            .con-info-splitter {
              position: relative;
              width: 100%;
              height: 3px;
              background-color: $clr-accent;
              margin-block: 5px;
              border-radius: 50px;
              border: none;
            }
          }
          .con-info-text {
            position: relative;
            font-size: 2.5rem;
            font-weight: map-get($font-weight, fs-regular);
            color: $clr-title;
            transition: color 0.4s ease;
          }
        }

        .footer-menu {
          position: relative;
          display: grid;
          align-items: center;
          column-gap: 15px;

          .footer-item {
            position: relative;
            margin-bottom: 15px;

            &:nth-child(3) {
              margin-bottom: 0;
            }

            .footer-link {
              font-size: 2.5rem;
              font-weight: map-get($font-weight, fs-bold);
              color: $clr-title;
              transition: all 0.4s ease;
            }
          }
        }

        .social-medias-title {
          font-size: 2.5rem;
          font-weight: map-get($font-weight, fs-bold);
          color: $clr-title;
          margin-bottom: 15px;
          transition: color 0.4s ease;
        }

        .medias-menu {
          position: relative;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          column-gap: 20px;

          .media-item {
            position: relative;

            .media-link {
              position: relative;

              .footer-social-icon {
                position: relative;
                font-size: 30px;
                color: $clr-accent;
                transition: color 0.3s ease, transform 0.2s ease;
              }
            }
          }
        }
      }
    }

    .footer-bottom {
      position: relative;
      display: grid;
      align-content: end;
      width: 100%;
      height: 100%;
      text-align: center;

      .footer-splitter {
        position: relative;
        width: 100%;
        height: 3px;
        margin-bottom: 15px;
        background-color: $clr-accent;
        border-radius: 50px;
        border: none;
      }

      .copyright-text {
        position: relative;
        font-size: clamp(1.5rem, 4vw, 2rem);
        font-weight: map-get($font-weight, fs-light);
        color: $clr-title;
        transition: color 0.4s ease;
      }
    }
  }

  .footer-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: $filter;
    mix-blend-mode: soft-light;
    isolation: isolate;
    z-index: -1;
  }
}

/*!=========== FOOTER STYLING END ============!*/

/*?--------------------------------------------------------------?*\
......................... DESKTOP VERSION .........................
/*?--------------------------------------------------------------?*/

@media (min-width: 1200px) {
  #topBtn:hover {
    background-color: $clr-dark;
  }

  .navbar {
    .navbar-container {
      .nav-logo {
        position: relative;
        height: 55px;
        transform: translateX(-200%);

        animation: 0.6s ease-out 0s 1 navLogoSlide forwards;

        @keyframes navLogoSlide {
          0% {
            transform: translateX(-200%);
          }
          100% {
            transform: translateX(0);
          }
        }
      }

      .nav-menu-wrapper {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: fit-content;
        left: 0;
        background: transparent;
        opacity: 1;
        transform: translateX(100%);
        animation: 0.6s ease-out 0s 1 navMenuSlide forwards;

        @keyframes navMenuSlide {
          0% {
            transform: translateX(100%);
          }
          100% {
            transform: translateX(0);
          }
        }

        .nav-menu {
          display: flex;
          align-items: center;
        }

        .nav-item {
          margin: 0 3rem;

          & &:nth-child(1) {
            margin-left: 0;
          }

          &.hire-btn,
          &.theme-toggle {
            margin-right: 0;
          }

          .nav-link {
            font-size: 2.6rem;
            background-image: linear-gradient(
              45deg,
              $clr-accent 50%,
              $clr-dark 50%,
              $clr-secondary 100%
            );
            background-size: 300% 100%;
            background-position: 100%;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s linear;

            &:hover {
              background-position: 0;
              -webkit-text-stroke: 0;
            }
          }

          .nav-cta-btn {
            font-size: 2.2rem;
            padding: 8px 15px;
            transition: 0.3s ease-out;
            background-image: linear-gradient(45deg, $clr-accent 50%, $clr-dark 50%);
            background-size: 300% 200%;
            background-position: 0%;
            background-clip: border-box;
            -webkit-background-clip: border-box;

            transition: all 0.3s linear;

            &:hover {
              background-position: 100%;
            }

            /*   &:hover {
              background-color: $clr-dark;
            } */
          }

          .darkmode:hover {
            .fa-adjust {
              color: $clr-accent;
            }
          }
        }

        .social-menu {
          display: none;
        }
      }

      .hamburger {
        display: none;
      }
    }
  }

  .header {
    .header-container {
      .header-top {
        .header-title {
          animation: 1.6s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 headerTitleZoom
            forwards;
          font-size: 0px;

          @keyframes headerTitleZoom {
            0% {
              font-size: 0px;
            }
            100% {
              font-size: clamp(3.2rem, 9vw, 14rem);
            }
          }
        }
      }

      .header-cta-btn {
        animation: 0.6s ease-out 0.4s 1 headerCtaBtnScale forwards;
        position: relative;
        bottom: -100px;
        opacity: 0;

        @keyframes headerCtaBtnScale {
          0% {
            bottom: -100px;
            opacity: 0;
          }
          100% {
            bottom: 0px;
            opacity: 1;
          }
        }
      }

      .header-cta-btn:hover {
        padding: 12px 30px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
      }
    }
  }

  .develop {
    .develop-container {
      .dv-skill-title {
        // animation: 0.3s ease-out 0.7s 1 headerSkillTitleSlide forwards;
        // position: relative;
        // bottom: -50px;
        // opacity: 0;

        &.hidden {
          opacity: 0;
          filter: blur(2px);
          transform: translateY(250%);
          transition: all 0.6s ease-out;
        }

        &.show-repeat {
          opacity: 1;
          filter: blur(0);
          transform: translateY(0);
          transition-delay: 0.6s;
        }

        // @keyframes headerSkillTitleSlide {
        //   0% {
        //     bottom: -50px;
        //     opacity: 0;
        //   }

        //   100% {
        //     bottom: 0;
        //     opacity: 1;
        //   }
        // }
      }

      .dv-title {
        // animation: 0.8s ease-out 0s 1 dvTitleSlide forwards;
        // position: relative;
        // top: -350px;
        // opacity: 0;

        &.hidden {
          opacity: 0;
          filter: blur(2px);
          transform: translateY(150%);
          transition: all 0.7s ease-out;
        }

        &.show-once {
          opacity: 1;
          filter: blur(0);
          transform: translateY(0);
        }

        // @keyframes dvTitleSlide {
        //   0% {
        //     top: -350px;
        //     opacity: 0;
        //   }
        //   40% {
        //     opacity: 0;
        //   }
        //   70% {
        //     opacity: 0.3;
        //   }
        //   100% {
        //     top: 0;
        //     opacity: 1;
        //   }
        // }
      }
      .dv-cta-btn {
        // animation: 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.3s 1 dvCtaBtnScale forwards;
        // position: relative;
        // transform: scale(0);
        position: relative;

        &.hidden {
          opacity: 0;
          transform: scale(0) translateY(1000px);
          filter: blur(2px);
          transition: 0.8s ease-out;
        }

        &.show-once {
          opacity: 1;
          filter: blur(0);
          transform: scale(1) translateY(0);
        }

        // @keyframes dvCtaBtnScale {
        //   0% {
        //     transform: scale(0);
        //   }
        //   100% {
        //     transform: scale(1);
        //   }
        // }
      }

      .dv-cta-btn:hover {
        padding: 15px 30px;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.35);
        transition: 0.3s ease 0s;
      }

      .dv-projects-wrapper {
        .dv-project {
          height: 0%;
          min-height: 0%;
          animation: 0.4s linear 0.6s 1 dvProjectsHeight forwards;

          @keyframes dvProjectsHeight {
            0% {
              height: 0%;
            }
            100% {
              height: 100%;
            }
          }
        }
      }
    }
  }

  .expertise {
    .expertise-container {
      display: flex;

      .expertise-top {
        &.exp-fade {
          transform: translateY(100%);
          opacity: 0;
          transition: transform 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
        }

        &.exp-fade.scrolled {
          transform: translateY(0);
          opacity: 1;
        }

        .expertise-text {
          max-width: 440px;
        }
      }

      .exp-cards {
        &.exp-fade {
          transform: translateY(100%);
          opacity: 0;
          transition: transform 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
        }

        &.exp-fade.scrolledDelay {
          transform: translateY(0);
          opacity: 1;
        }

        .exp-card {
          z-index: 2;

          .exp-card-border {
            position: absolute;
            display: flex;
            place-content: center;
            place-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
          }

          .exp-card-border::before {
            content: "";
            position: absolute;
            width: 150%;
            height: 70%;
            background: linear-gradient(45deg, $clr-light 0%, $clr-light 100%);
            animation: rotate 8s linear infinite;
            z-index: -1;

            @keyframes rotate {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
          }

          .exp-card-border::after {
            content: "";
            position: absolute;
            background-color: $clr-dark;
            inset: 3px;
            border-radius: 10px;
            z-index: -1;
          }

          .exp-card-border.second::before {
            width: 50%;
            height: 170%;
          }
        }
      }
    }
  }

  .design {
    .design-container {
      .design-top {
        .design-skill-title {
          // animation: 0.8s ease-out 1s 1 designSkillTitleSlide forwards;
          // position: relative;
          // top: -50px;
          // opacity: 0;

          &.hidden {
            opacity: 0;
            filter: blur(2px);
            transform: translateY(250%);
            transition: all 0.6s ease-out;
          }

          &.show-repeat {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0);
            transition-delay: 0.5s;
          }

          // @keyframes designSkillTitleSlide {
          //   0% {
          //     top: -50px;
          //     opacity: 0;
          //   }

          //   100% {
          //     top: 0;
          //     opacity: 1;
          //   }
          // }
        }

        .design-title {
          //   animation: 0.8s ease-out 1s 1 designTitleSlide forwards;
          //   position: relative;
          //   bottom: -150px;
          //   opacity: 0;

          &.hidden {
            opacity: 0;
            filter: blur(2px);
            transform: translateX(-100%);
            transition: all 1s ease-out;
          }

          &.show-once {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
          }

          //   @keyframes designTitleSlide {
          //     0% {
          //       bottom: -150px;
          //       opacity: 0;
          //     }
          //     20% {
          //       opacity: 0;
          //     }
          //     40% {
          //       opacity: 0.3;
          //     }
          //     100% {
          //       bottom: 0;
          //       opacity: 1;
          //     }
          //   }
        }
      }

      .slider-wrapper {
        row-gap: 20px;

        .slider {
          animation: 1s ease-out 0.4s 1 sliderSlideRight forwards;
          right: -100%;

          @keyframes sliderSlideRight {
            0% {
              right: -100%;
            }
            100% {
              right: 0;
            }
          }

          .slide-track {
            width: calc(600px * 8);
            column-gap: 20px;

            @keyframes scroll {
              0% {
                transform: translateX(0px);
              }
              100% {
                transform: translateX(calc(-603px * 4));
              }
            }

            .slide {
              box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.35);

              .slide-item {
                transition: transform 0.3s ease;
              }
            }
          }

          /*  IMPORTANT CODE BELOW */

          .slide-track2 {
            width: calc(600px * 8);
            column-gap: 20px;

            @keyframes scroll2 {
              0% {
                transform: translateX(0px);
              }
              100% {
                transform: translateX(calc(-603px * 4));
              }
            }

            .slide {
              box-shadow: 3px 3px 8px -2px rgba(0, 0, 0, 0.35);

              .slide-item {
                transition: transform 0.3s ease;
              }
            }
          }
        }

        .slider:nth-child(2) {
          animation: 1s ease-out 0.4s 1 sliderSlideLeft forwards;
          left: -100%;

          @keyframes sliderSlideLeft {
            0% {
              left: -100%;
            }
            100% {
              left: 0;
            }
          }
        }
      }

      .slider-wrapper {
        .slider {
          overflow: visible;

          .slide-item:hover {
            transform: scale(1.02);
            box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.45);
          }
        }
      }
    }
  }

  .footer {
    .footer-container {
      overflow-y: hidden;
      .footer-top {
        animation: 0.6s ease-out 0.6s 1 footerTopSlide forwards;
        transform: translateY(150%);

        @keyframes footerTopSlide {
          0% {
            transform: translateY(150%);
          }
          100% {
            transform: translateY(0);
          }
        }

        .footer-link {
          background-image: linear-gradient(45deg, $clr-accent 50%, $clr-dark 50%);
          background-size: 300% 100%;
          background-position: 100%;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all 0.3s linear;

          &:hover {
            background-position: 0;
            -webkit-text-stroke: 0;
          }
        }

        .contact-info {
          .con-info-text:hover {
            color: $clr-accent;
          }
        }

        .medias-menu {
          .media-item {
            .media-link {
              .footer-social-icon:hover {
                color: $clr-dark;
                transform: scale(1.1);
              }
            }
          }
        }
      }

      .footer-bottom {
        animation: 0.4s ease-out 1.2s 1 footerBtmSlide forwards;
        transform: translateY(150%);

        @keyframes footerBtmSlide {
          0% {
            transform: translateY(150%);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }
  }
}

@media (min-height: 925px) {
  .header .header-container {
    padding-block: 22vmin 14vmin;
  }
}

@media (min-width: 900px) {
  .header .header-container .header-btm {
    .header-profile-image {
      width: fit-content;
      padding: 0 5px;
    }
  }
}

@media (min-width: 770px) {
  .footer {
    .footer-container {
      .footer-top {
        .column-box {
          &.middle {
            justify-content: center;
            bottom: -22px;
          }

          &.right-bottom {
            justify-content: end;
          }
        }
      }
    }
  }
}

@media (min-width: 590px) {
  .header {
    .header-container {
      align-content: space-evenly;

      .header-btm {
        .header-profile-image {
          position: absolute;
          order: 3;
        }

        .header-btns {
          display: flex;
          order: 4;
        }
      }
    }
  }
}

@media (min-width: 510px) {
  .footer {
    .footer-container {
      .footer-top {
        .column-box {
          justify-items: start;
          text-align: start;

          .contact-info {
            place-items: start;
          }

          .medias-menu {
            justify-content: start;
          }
        }
      }
      .footer-bottom {
        text-align: start;
      }
    }
  }
}
